In [1]:
# Environment setup
import pandas as pd
#import requests
import os
from pathlib import Path
from dotenv import load_dotenv

# Load .env from the project root (parent of data_cleaning)
#load_dotenv(Path.cwd().resolve().parent / ".env")
#GOOGLE_SHEETS_API_KEY = os.getenv('GOOGLE_SHEETS_API_KEY')
#PROJECTS_SHEET_ID = os.getenv('PROJECTS_SHEET_ID')
#ACTIVES_SHEET_ID = os.getenv('ACTIVES_SHEET_ID')
#FALL_ATTENDANCE_SHEET_ID = os.getenv('FALL_ATTENDANCE_SHEET_ID')
#BASE_URL = "https://sheets.googleapis.com/v4/spreadsheets"
load_dotenv(Path.cwd().resolve().parent / ".env")

True

In [2]:
#def get_sheet_titles(spreadsheet_id: str, api_key: str) -> list[str]:
#    """Return all sheet/tab titles in the spreadsheet."""
#    resp = requests.get(
#        f"{BASE_URL}/{spreadsheet_id}",
#        params={
#            "fields": "sheets(properties(title))",
#            "key": api_key,
#        },
#        timeout=30,
#    )
#    resp.raise_for_status()
#    data = resp.json()
#    return [s["properties"]["title"] for s in data.get("sheets", [])]

In [3]:
#def fetch_values_batch(spreadsheet_id: str, api_key: str, sheet_titles: list[str]) -> dict[str, list[list]]:
#    """Batch fetch values for provided sheet titles.
#    Returns mapping of title -> 2D list of cell values (including header row).
#    """
#    if not sheet_titles:
#        return {}
#    # Multiple 'ranges' params are supported by the API
#    params = [("key", api_key), ("valueRenderOption", "UNFORMATTED_VALUE"), ("dateTimeRenderOption", "FORMATTED_STRING")]
#    params.extend(("ranges", title) for title in sheet_titles)
#    resp = requests.get(
#        f"{BASE_URL}/{spreadsheet_id}/values:batchGet",
#        params=params,
#        timeout=60,
#    )
#    resp.raise_for_status()
#    payload = resp.json()

#    values_by_title: dict[str, list[list]] = {}
#    for vr, title in zip(payload.get("valueRanges", []), sheet_titles):
#        values_by_title[title] = vr.get("values", [])
#    return values_by_title

In [4]:
#def values_to_dataframe(values: list[list]) -> pd.DataFrame:
#    """Convert a 2D list from Sheets API to a DataFrame, using first row as header.
#    Pads short rows so all rows match header length.
#    """
#    if not values:
#        return pd.DataFrame()
#    header = [str(h) for h in values[0]]
#    rows = values[1:] if len(values) > 1 else []
#    normalized_rows = [row + [""] * (len(header) - len(row)) for row in rows]
#    return pd.DataFrame(normalized_rows, columns=header)

In [5]:
#def fetch_spreadsheet_as_dataframes(spreadsheet_id: str, api_key: str) -> dict[str, pd.DataFrame]:
#    """Fetch all sheets in a spreadsheet and return {sheet_title: DataFrame}."""
#    titles = get_sheet_titles(spreadsheet_id, api_key)
#    if not titles:
#        return {}
#    values_by_title = fetch_values_batch(spreadsheet_id, api_key, titles)
#    return {title: values_to_dataframe(values_by_title.get(title, [])) for title in titles}

In [6]:
# # fetch all data from Google Sheets into DataFrames per sheet
# # Build DataFrames per sheet for each spreadsheet ID found in .env
# PROJECTS_DFS = fetch_spreadsheet_as_dataframes(PROJECTS_SHEET_ID, GOOGLE_SHEETS_API_KEY) if PROJECTS_SHEET_ID else {}
# ACTIVES_DFS = fetch_spreadsheet_as_dataframes(ACTIVES_SHEET_ID, GOOGLE_SHEETS_API_KEY) if ACTIVES_SHEET_ID else {}
# FALL_ATTENDANCE_DFS = fetch_spreadsheet_as_dataframes(FALL_ATTENDANCE_SHEET_ID, GOOGLE_SHEETS_API_KEY) if FALL_ATTENDANCE_SHEET_ID else {}
# Load data from CSV URLs exported from Google Sheets
projects_df = pd.read_csv(os.getenv('PROJECTS_SHEET_URL'))
actives_df = pd.read_csv(os.getenv('ACTIVES_SHEET_URL'))
attendance_df = pd.read_csv(os.getenv('ATTENDANCE_URL'))

In [7]:
actives_df.head()

,Timestamp,Name,Year,Are you planning to be an active member this quarter? (All actives have to pay dues)
0,10/2/2025 19:37:26,Spencer,3rd,Yes
1,10/2/2025 19:37:27,Jayden Patel,2nd,Yes
2,10/2/2025 19:39:01,Mattie freaking dao,2nd,Yes
3,10/2/2025 19:42:19,aastha,3rd,Yes
4,10/2/2025 19:42:52,Mihir Joshi,4th,Yes

In [8]:
actives_df['Timestamp'] = pd.to_datetime(actives_df['Timestamp'])
actives_df['Name'] = actives_df['Name'].str.lower()
actives_df['Year'] = actives_df['Year'].map({'1st': 1, '2nd': 2, '3rd': 3, '4th': 4, '5th': 5}).fillna(actives_df['Year'])
actives_df['Are you planning to be an active member this quarter? (All actives have to pay dues)'] = actives_df.iloc[:, 3].apply(lambda x: True if x == 'Yes' else False)

In [9]:
actives_df.dtypes

Timestamp                                                                               datetime64[ns]
Name                                                                                            object
Year                                                                                             int64
Are you planning to be an active member this quarter? (All actives have to pay dues)              bool
dtype: object

In [10]:
actives_df

,Timestamp,Name,Year,Are you planning to be an active member this quarter? (All actives have to pay dues)
0,2025-10-02 19:37:26,spencer,3,True
1,2025-10-02 19:37:27,jayden patel,2,True
2,2025-10-02 19:39:01,mattie freaking dao,2,True
3,2025-10-02 19:42:19,aastha,3,True
4,2025-10-02 19:42:52,mihir joshi,4,True
5,2025-10-02 19:43:03,max vroemen,4,True
6,2025-10-02 20:33:03,brian can,3,True
7,2025-10-02 20:37:48,faith iwanaka,3,True
8,2025-10-02 21:09:43,zoya,4,True
9,2025-10-02 22:12:12,azim,3,True
10,2025-10-02 22:17:50,jason,4,True
11,2025-10-02 23:05:30,zach ishida,4,True
12,2025-10-03 01:19:57,frank,4,True
13,2025-10-03 03:01:01,ian,4,True
14,2025-10-03 08:59:49,sparsh,3,True
15,2025-10-03 09:02:02,NaN,3,True
16,2025-10-03 09:02:10,wanhan,2,True
17,2025-10-03 09:03:57,mibo hwang,2,True
18,2025-10-03 09:30:36,candice chow,2,True
19,2025-10-03 09:33:35,ethan kam,2,True
20,2025-10-03 09:34:10,mark,2,True
21,2025-10-03 09:58:47,deiter williams,2,True
22,2025-10-03 10:52:40,sadhana tadepalli,2,True
23,2025-10-03 14:06:23,tanisha bala,3,True
24,2025-10-04 17:42:09,varun chowdhary,3,True
25,2025-10-04 21:44:54,mia zhang,2,True
26,2025-10-05 07:05:11,michael wang,4,False
27,2025-10-06 13:14:11,harrison takken,2,True
28,2025-10-06 13:19:50,akhil malladi,3,True
29,2025-10-06 17:51:33,nikitha,2,True